.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.App {
  background: url('https://raw.githubusercontent.com/destinc/brainstorm/master/client/src/assets/cork7.jpg');
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.auth-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.79);
}

.home-link {
  color: #161b1f
}

.dashboard-link {
  color: #161b1f;
}

.dashboard-container {
  position: relative;
  left: -1000px;
  top: 45px;
}

.logout-button {
  display: block;
  width: 100px;
  height: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 14px;
}

.username {
  font-weight: 800;
  font-size: 20px;
  font-family: Comic Sans MS
}

.login-register {
  display: block;
  height: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 14px;
}

.note-page {
  text-align: center;
  border: outset #161b1f 5px;
  background-color: antiquewhite;
  word-wrap: break-word;
}

.comment {
  font-size: 30px;
}

.edit-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 14px;
}

.delete-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 14px;
}

.notes-list {
  display: inline-block;
  width: 200px;
  height: 100px;
  border: outset #161b1f 5px;
  background-color: antiquewhite;
  word-wrap: break-word;
  padding: 20px;
  overflow-y: scroll;
  color: #161b1f;
  margin: 10px
}

.create-form {
  text-align: center;
  margin-top: 0
}

.create-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 20px;
}

.create-input {
  background-color: black;
  color: white;
  font-size: 25px;
}

.login-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 20px;
}

.register-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 20px;
}

.username-login {
  font-size: 25px;
}

.password-login {
  font-size: 25px;
}

.login-title {
  font-size: 35px;
  color: white;
}

.login-username {
  font-size: 25px;
  color: white;
}

.login-password {
  font-size: 25px;
  color: white;
}

.register-username {
  font-size: 25px;
  color: white;
}

.register-password {
  font-size: 25px;
  color: white;
}

.register-email {
  font-size: 25px;
  color: white;
}

.register-title {
  font-size: 35px;
  color: white;
}

.register-link {
  color: white;
}

.login-link {
  color: white;
}

.register-input {
  font-size: 25px;
}

.home-container {
   border: outset #161b1f 5px;
  text-align: center;
  font-size: 50px;

}


